In [37]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import pickle

In [30]:
df = pd.read_csv("treated_dataset.csv")

In [31]:
df

,title,254,507,882,1424,1435,1733,1903,2033,2110,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
0,1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1033,You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1034,Zen and the Art of Motorcycle Maintenance: An ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1035,Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1036,"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Uses csr_matrix from scipy.spacer
input_matrix = csr_matrix(df.drop('title',axis=1))

In [33]:
input_matrix

<1037x1628 sparse matrix of type '<class 'numpy.float64'>'
	with 25570 stored elements in Compressed Sparse Row format>

In [34]:
#NearestNeighbors and fit
nn = NearestNeighbors(algorithm="brute")
nn.fit(input_matrix)

NearestNeighbors(algorithm='brute')

In [35]:
distances, recommendation = nn.kneighbors(df.iloc[1032,1:].values.reshape(1,-1),n_neighbors=6)

In [36]:
##f.iloc[recommendation]

for i in range(len(recommendation)):
    print(df.iloc[recommendation[i],0])

1032                                      Year of Wonders
1007                             Where or When  : A Novel
964     Tom Clancy's Op-Center: Games of State (Tom Cl...
501                                         No Safe Place
317                                Ground Zero and Beyond
950                                        Thousand Acres
Name: title, dtype: object

In [39]:
pickle.dump(nn,open('pkl_store/model.pkl','wb'))
pickle.dump(df['title'],open('pkl_store/book_names.pkl','wb'))
pickle.dump(df,open('pkl_store/pivot_table.pkl','wb'))

# output function

In [ ]:
def recommendation_system(input_book_title):
    _, recomm = nn.kneighbors(df.iloc[np.where(df['title'] == input_book_title)[0][0],1:].values.reshape(1,-1),n_neighbors=6)
    print('checkpoint 1')
    for i in range(len(recomm)):
        print('checkpoint 2')
        if i == input_book_title:
            print(f'you selected the book: {input_book_title}')
            print('the recommendations are: ')
        else: 
            print(i)

In [67]:
_, test = nn.kneighbors(df.iloc[np.where(df['title'] == 'Zoya')[0][0],1:].values.reshape(1,-1),n_neighbors=6)
#recommendation_system('Zoya')

In [72]:
for i in range(len(test)):
    print(i,df.iloc[i,0])

0 1984

In [73]:
test

array([[1035,  876,  275,  469,  964,  704]], dtype=int64)